{% extends "base.html" %}

{% block title %}Index{% endblock %}

{% block content %} 

  {% load staticfiles %}
  <body>

  <style>
  #droppable { height: 150px; }
  .ball_properties { position: relative; z-index: 99; }
  </style>

  <div id="right_span_master" class="row-fluid">

    <div id="right_span_main" class="col-12 col-sm-12 col-lg-5 col-offset-1 panel panel-info" tabindex="0">
      <div class="panel-heading">
        <!--<button id="new_game" type="button" class="btn btn-default pull-right">New game</button>-->
        <h3 class="panel-title">Select the balls and drag to their positions</h3>
      </div>
      <div id="span_ball_blue" class="col-3 col-sm-3 col-lg-3" style="position: relative; z-index: 70;">
        <div id="ball_blue" class="ui-widget-content">
          <p><center><img src="{% static "img/ball_blue.png" %}" width= "100%" class="ball_properties"/></center></p>
          <p><center><b><span class="ball_properties">AGUA</span></b></center></p>
        </div>
      </div>
      <div id="span_ball_blue_hidden" class="col-3 col-sm-3 col-lg-3 hidden">
        <div id="ball_blue" class="ui-widget-content">
          <p><center><img src="{% static "img/ball_blue.png" %}" width= "100%" class="ball_properties"/></center></p>
          <p><center><b><span class="ball_properties">AGUA</span></b></center></p>
        </div>
      </div>
      <div id="span_ball_purple" class="col-3 col-sm-3 col-lg-3">
        <div id="ball_purple" class="ui-widget-content">
          <p><center><img src="{% static "img/ball_purple.png" %}" width= "100%" class="ball_properties"/></center></p>
          <p><center><b><span class="ball_properties">ALCOHOL</span></b></center></p>
        </div>
      </div>
      <div id="span_ball_yellow" class="col-3 col-sm-3 col-lg-3">
        <div id="ball_yellow" class="ui-widget-content">
          <p><center><img src="{% static "img/ball_yellow.png" %}" width= "100%" class="ball_properties"/></center></p>
          <p><center><b><span class="ball_properties">GASOLINA</span></b></center></p>
        </div>
      </div>
      <div id="span_ball_white" class="col-3 col-sm-3 col-lg-3">
        <div id="ball_white" class="ui-widget-content">
          <p><center><img src="{% static "img/ball_white.png" %}" width= "100%" class="ball_properties"/></center></p>
          <p><center><b><span class="ball_properties">AIRE</span></b></center></p>
        </div>
      </div>
    </div>
   
    <div id="left_span_0" class="col-12 col-sm-12 col-lg-5 col-offset-1 panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Drop the balls here</h3> 
      </div>
      <div id="droppable_0_0" class="ui-widget-content col-3 col-sm-3 col-lg-3">
        <p><center><img src="{% static "img/ball_shell_hover_question.png" %}" width= "100%"/></center></p>
        <p><center><div class="well well-small">&nbsp;</div></center></p>
      </div>
      <div id="droppable_0_1" class="ui-widget-content col-3 col-sm-3 col-lg-3">
        <p><center><img src="{% static "img/ball_shell_hover_question.png" %}" width= "100%"/></center></p>
        <p><center><div class="well well-small">&nbsp;</div></center></p>
      </div>
      <div id="droppable_0_2" class="ui-widget-content col-3 col-sm-3 col-lg-3">
        <p><center><img src="{% static "img/ball_shell_hover_question.png" %}" width= "100%"/></center></p>
        <p><center><div class="well well-small">&nbsp;</div></center></p>
      </div>                  
      <div id="droppable_0_3" class="ui-widget-content col-3 col-sm-3 col-lg-3">
        <p><center><img src="{% static "img/ball_shell_hover_question.png" %}" width= "100%"/></center><p>
          <p><center><div class="well well-small">&nbsp;</div></center></p>
      </div>
      
    </div>
  
  </div>

  <div id="row_2" class="row">

   <div id="left_span_1" class="col-12 col-sm-12 col-lg-5 col-offset-7 panel panel-info">
      <div class="panel-heading">
        <!--<button id="review_0" type="button" class="btn btn-default pull-right">Review</button>-->
        <h3 class="panel-title hidden">Drop the balls here</h3> 
      </div>
      <div id="droppable_1_0" class="ui-widget-content col-3 col-sm-3 col-lg-3">
        <p><center><img src="{% static "img/ball_shell_hover_question.png" %}" width= "100%" class='hidden'/></center></p>
        <p><center><div class="well well-small hidden">&nbsp;</div></center></p>
      </div>
      <div id="droppable_1_1" class="ui-widget-content col-3 col-sm-3 col-lg-3">
        <p><center><img src="{% static "img/ball_shell_hover_question.png" %}" width= "100%" class='hidden'/></center></p>
        <p><center><div class="well well-small hidden">&nbsp;</div></center></p>
      </div>
      <div id="droppable_1_2" class="ui-widget-content col-3 col-sm-3 col-lg-3">
        <p><center><img src="{% static "img/ball_shell_hover_question.png" %}" width= "100%" class='hidden'/></center></p>
        <p><center><div class="well well-small hidden">&nbsp;</div></center></p>
      </div>                  
      <div id="droppable_1_3" class="ui-widget-content col-3 col-sm-3 col-lg-3">
        <p><center><img src="{% static "img/ball_shell_hover_question.png" %}" width= "100%" class='hidden'/></center></p>
        <p><center><div class="well well-small hidden">&nbsp;</div></center></p>
      </div>
    </div>

  </div>

  <div id="row_3" class="row">

   <div id="left_span_2" class="col-12 col-sm-12 col-lg-5 col-offset-7 panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title hidden">Drop the balls here</h3> 
      </div>
      <div id="droppable_2_0" class="ui-widget-content col-3 col-sm-3 col-lg-3">
        <p><center><img src="{% static "img/ball_shell_hover_question.png" %}" width= "100%" class='hidden'/></center></p>
        <p><center><div class="well well-small hidden">&nbsp;</div></center></p>
      </div>
      <div id="droppable_2_1" class="ui-widget-content col-3 col-sm-3 col-lg-3">
        <p><center><img src="{% static "img/ball_shell_hover_question.png" %}" width= "100%" class='hidden'/></center></p>
        <p><center><div class="well well-small hidden">&nbsp;</div></center></p>
      </div>
      <div id="droppable_2_2" class="ui-widget-content col-3 col-sm-3 col-lg-3">
        <p><center><img src="{% static "img/ball_shell_hover_question.png" %}" width= "100%" class='hidden'/></center></p>
        <p><center><div class="well well-small hidden">&nbsp;</div></center></p>
      </div>                  
      <div id="droppable_2_3" class="ui-widget-content col-3 col-sm-3 col-lg-3">
        <p><center><img src="{% static "img/ball_shell_hover_question.png" %}" width= "100%" class='hidden'/></center></p>
        <p><center><div class="well well-small hidden">&nbsp;</div></center></p>
      </div>
      
        <!--<button type="button" class="btn btn-success btn-block"><b>Aciertos:</b>&nbsp;&nbsp;&nbsp;<span class="badge badge-big-custom">0</span>&nbsp;</button>
        <button type="button" class="btn btn-danger btn-block"><b>Errores:</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="badge badge-big-custom">0</span>&nbsp;</button>-->

    </div>

  </div>

  <div id="row_4" class="row">

   <div id="left_span_3" class="col-12 col-sm-12 col-lg-5 col-offset-7 panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title hidden">Drop the balls here</h3> 
      </div>
      <div id="droppable_3_0" class="ui-widget-content col-3 col-sm-3 col-lg-3">
        <p><center><img src="{% static "img/ball_shell_hover_question.png" %}" width= "100%" class='hidden'/></center></p>
        <p><center><div class="well well-small hidden">&nbsp;</div></center></p>
      </div>
      <div id="droppable_3_1" class="ui-widget-content col-3 col-sm-3 col-lg-3">
        <p><center><img src="{% static "img/ball_shell_hover_question.png" %}" width= "100%" class='hidden'/></center></p>
        <p><center><div class="well well-small hidden">&nbsp;</div></center></p>
      </div>
      <div id="droppable_3_2" class="ui-widget-content col-3 col-sm-3 col-lg-3">
        <p><center><img src="{% static "img/ball_shell_hover_question.png" %}" width= "100%" class='hidden'/></center></p>
        <p><center><div class="well well-small hidden">&nbsp;</div></center></p>
      </div>                  
      <div id="droppable_3_3" class="ui-widget-content col-3 col-sm-3 col-lg-3">
        <p><center><img src="{% static "img/ball_shell_hover_question.png" %}" width= "100%" class='hidden'/></center></p>
        <p><center><div class="well well-small hidden">&nbsp;</div></center></p>
      </div>
      
    </div>

  </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Instrucciones del RETO!</h4>
          </div>
          <div class="modal-body">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </div>
          <!--<div class="modal-footer">
            <a href="#" class="btn btn-default">Close</a>
            <a href="#" class="btn btn-primary">Save changes</a>
          </div>-->
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


<script>
ballsArray = [ "ball_blue", "ball_yellow", "ball_purple", "ball_white" ];
panel_counter = 0;
sum_balls_counter = 0;

$(function() {
  $('div[id^=ball_]').draggable({
    revert : true
  });
  
  $('div[id^=droppable_]').droppable({
    drop: function(event, ui) {
      dropped = $(this);
      liquid = ui.draggable.find('span').clone();
      dropped.find('div').html(liquid);
      ball_object = ui.draggable.attr('id');
      gap = $(this).attr('id');
      number = gap.charAt(12);
      sum_balls_counter = sum_balls_counter + parseInt(number);
      if (ballsArray[number] == ball_object) {
        $(this).find("img").attr('src', '{% static "img/ball_shell_hover_success.png" %}').addClass("ball_properties");
      } else {
        $(this).find("img").attr('src', '{% static "img/ball_shell_hover_danger.png" %}').addClass("ball_properties");
      }
      if (sum_balls_counter == 6){
        $('div[id=left_span_' + panel_counter + ']').removeClass('panel-primary').addClass('panel-info');
        $('div[id=left_span_' + panel_counter + '] .panel-heading .panel-title').addClass('label label-success').html('2 success');
        panel_counter = panel_counter + 1;
        $('div[id=left_span_' + panel_counter + ']').removeClass('panel-info').addClass('panel-primary');
        $('div[id=left_span_' + panel_counter + '] .panel-heading .panel-title').removeClass('hidden');
        $('div[id=left_span_' + panel_counter + '] .ui-widget-content .hidden').removeClass('hidden');
        sum_balls_counter = 0;
      }
    }
  });
});
</script>

<script>
//$("#new_game").click(function() {
  //$('div[id^=ball_]').attr('src', '{% static "img/ball_shell_hover_success.png" %}');
  //debug_texts = $('p[id^=debug_text_]');
  //for (var i = 0; i < debug_texts.length; i++) {
  //              debug_texts[i].style.visibility = 'hidden';
  //}
//});
</script>

<script type="text/javascript">

//    var myImageElement = document.getElementById('main_image');
//    setInterval(function() {
//     var myImageElement = document.getElementById('main_image');
//     myImageElement.src = 'http://www.weblab.deusto.es/webcam/proxied.py/aquarium1?rand=' + Math.random();
//    }, 600);

</script>

<script type="text/javascript"> 
    //$('#myModal').modal('show');
</script>

{% endblock %}