{% extends "base.html" %}

{% block title %}Insert balls data{% endblock %}

{% block content %}

  {% load staticfiles %}

    <div id="span_master row-fluid">
        <div id="unique_column" class="col-lg-12">
            <div id="main_panel" class="col-12 col-sm-12 col-lg-12 alert alert-info">
                <form method="post" class="col-12 col-sm-12 col-lg-12 form-horizontal" action="">
	               {% csrf_token %}
	               {{ balls_formset.management_form }}
                   {% for form in balls_formset %}
                        {% if forloop.last %}
                            <div class="col-12 col-sm-12 col-lg-3 hidden">
                                {{ form.id }}
                                {{ form.colour }}
                                {{ form.liquid_contained }}
                                {{ form.liquid_contained_density }} 
                        {% else %}
                            <div class="col-12 col-sm-12 col-lg-3 panel panel-primary">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Ball {{ forloop.counter }}</h3>
                                </div>
                                <div class="col-12 col-sm-12 col-lg-12 ">
                                    {{ form.id }}
                                    <div class="form-group">
                                        {{ form.colour }}
                                        <p class="help-block">Select the colour of the ball.</p>
                                    </div>
                                    <div class="form-group">
                                        {{ form.liquid_contained }}
                                        <p class="help-block">Put the liquid contained.</p>
                                    </div>
                                    <div class="form-group">
                                        {{ form.liquid_contained_density }} 
                                        <p class="help-block">Density of the ball. I.e. '0.84'.</p>
                                    </div>
                                    <p><center><img src="{% static "img/ball_blue.png" %}" width= "50%" class="ball_properties img-responsive"/></center></p>
                        {% endif %}
                                </div>
                        </div>
                    {% endfor %}
                    <div class="form-group col-12 col-sm-12 col-lg-12">  
                        <center>  
                            <input type="submit" class="btn btn-success" value="Submit and Save" />
                            <input type="hidden" name="next" value="{{ next }}" />
                            &nbsp;&nbsp;or&nbsp;&nbsp;
                            <input id="exit_button" type="button" class="btn btn-danger" value="Cancel and Exit" href="#" />
                        </center>
                    </div>
                </form>
            </div>
        </div>
    </div>

<script>

$('select[id$=colour]').addClass("form-control input-block-level");
$('input[id$=contained]').addClass("form-control input-block-level");
$('input[id$=density]').addClass("form-control input-block-level");

$(document).ready(function () {
  initial_image_needed = $('select[id$=colour]').find('option:selected').slice(0,4)
  $.each(initial_image_needed, function() {
    option = this;
    option_text = this.text;
    //alert(option_text)
    image_path = $(this).parent().parent().parent().find('img')
    image_element = image_path.attr('src')
    words = image_element.split("_")
    static_path = words[0] + "_"
    new_image_path = static_path + option_text + ".png"
    image_path.attr('src', new_image_path)
  });
});

$( "#exit_button" ).click(function() {
  alert(".click() called. TODO: Exit!");
});
</script>

<script>
$('select[id$=colour]').click(function() {
    option = $(this).find('option:selected')
    option_text = option.text();
    image_path = option.parent().parent().parent().find('img')
    image_element = image_path.attr('src')
    words = image_element.split("_")
    static_path = words[0] + "_"
    new_image_path = static_path + option_text + ".png"
    image_path.attr('src', new_image_path)

})
</script>

{% endblock %}