{% extends "base.html" %}

{% block title %}Ranking{% endblock %}

{% block content %} 

  {% load staticfiles %}

  <div id="span_master row-fluid">
    <div id="unique_column" class="col-lg-12">
      <div id="main_panel" class="col-12 col-sm-12 col-lg-12 panel panel-primary" data-intro="Select the level of game that you want." data-position="bottom">
        <div class="panel-heading">
          <h3 class="panel-title">Ranking</h3>
        </div>
        <div>
          <p></p>
          <p></p>
        </div>
      </div><!-- end main_panel -->
    </div><!-- end unique_column -->
  </div><!-- end master_row -->

<script type="text/javascript">

</script>

{% endblock %}