<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="WebLab Deusto">

    {% load staticfiles %}
    <link rel="icon" href="{% static "img/aquarium_24x24.png" %}" type="image/x-icon" />

    <script type="text/javascript" charset="utf-8" src="{% static "js/jquery-1.9.1.js" %}"></script>
    <script type="text/javascript" charset="utf-8" src="{% static "js/jquery-ui.js" %}"></script>
    <script type="text/javascript" charset="utf-8" src="{% static "js/jquery.ui.touch-punch.js" %}"></script>
    <script type="text/javascript" charset="utf-8" src="{% static "js/bootstrap.js" %}"></script>
    <script type="text/javascript" charset="utf-8" src="{% static "js/jquery.bxslider.js" %}"></script>
    <!--<script type="text/javascript" charset="utf-8" src="{% static "js/chardinjs.js" %}"></script>-->

    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet">
    <link href="{% static "css/jquery.bxslider.css" %}" rel="stylesheet">
    <!--<link href="{% static "css/bootstrap-glyphicons.css" %}" rel="stylesheet">-->
    <!--<link href="{% static "css/chardinjs.css" %}" rel="stylesheet">-->

    {% block custom_head %}
    {% endblock %}

    <style>
      body {
        padding-top: 56px; /* 50-60px to make the container go all the way to the bottom of the topbar */
      }
    </style>

</head>

<body>
 <!--   <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <a href="index" class="navbar-brand"><img src="{% static "img/aquarium_24x24.png" %}" class="img-responsive"/>&nbsp;&nbsp;AquaGame</a>
        <div><span id="timer" class="badge badge-big-success pull-right"></span></div>
        <button type="button" id="instructions_button" class="btn btn-primary navbar-btn pull-right" data-loading-text="Loading..." data-intro="Press in any dark side of the screen to return to the game." data-position="left">
            <span class="glyphicon glyphicon-bullhorn"></span>&nbsp;Instructions
        </button>
    </div>-->
        <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index"><img src="{% static "img/aquarium_24x24.png" %}" class="img-responsive"/>&nbsp;&nbsp;AquaGame</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="../navbar/">Default</a></li>
            <li><a href="../navbar-static-top/">Static top</a></li>
            <li class="active"><a href="./">Fixed top</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <!--<div class="container">-->
    <div>
        {% block content %}
        {% endblock %}
    </div>
    
</body>
</html>